:host {
  display: block;
  height: 100%;
}

.character-card {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.character-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.status--alive {
  color: rgb(72, 185, 72);
}

.status--dead {
  color: rgb(227, 89, 112);
}

.character-image {
  overflow: hidden;
}
