<mat-card class="character-card" appearance="outlined" (click)="onCardClick()">
  <mat-card-header class="character-header">
    <mat-card-subtitle>{{character().name}} </mat-card-subtitle>
    <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-card-header>
  <img mat-card-image class="character-image" [src]="character().image"
    [alt]="character().name">
</mat-card>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onEdit()">
    <mat-icon>edit</mat-icon>
    <span>Edit</span>
  </button>
  <button mat-menu-item (click)="onDelete()">
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
  <button mat-menu-item (click)="onAddToFavorites()">
    <mat-icon>favorite</mat-icon>
    <span>Add to Favorites</span>
  </button>
</mat-menu>
